.cont{
    height: 200px;
    padding: 140px 0px 0px 450px;
}
.typelisting{
    width: 150px;
}
.contt{
    margin: 30px 0px 0px 350px;
    width: 800px;
}
.cc{
    cursor: pointer;
}
.cc > a{
    text-decoration: none;
    color: black;
}
pagination-template{
    text-align: center;
    margin: 30px 20px;
}
.custom-pagination .page-number{
    display: inline-block;
    padding: 2px; 
    background: #fafafa;
    margin: 0px 4px;
    border-radius: 5px;
}
 
.page-number.current{
    background: #292b2c!important;
    color: #fafafa;
}
 
.page-number span{
    text-align: center;
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}
 
.pagination-previous{
    cursor: pointer;
    float: left;
}
.pagination-next{
    cursor: pointer;
    float: right;
}
.pagination-previous span{
    text-align: center;
    padding: 4px 8px;
    border-radius: 5px;
}
.pagination-next span{
    text-align: center;
    padding: 4px 8px;
    border-radius: 5px;
}
.pagination-previous :hover{
    background-color: #f3f5f9;
}
.pagination-next :hover{
    background-color: #f3f5f9;
}