<footer class="page-footer font-smallpt-4 bg-dark">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ElHorra</h5>
                <p>Nous proposons des gammes de produits marocains de qualité que vous pouvez utiliser en toute sécurité tout en étant rassuré quant à leur efficacité.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a style="cursor: pointer;" routerLink="/About">A propos</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" routerLink="">Home</a>
                    </li>
                    <!--<li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Groupe e-commerce AZE
    </div>
</footer>