.contai{
    margin: 0;
}
.form-control{
    width: 600px;
    margin-left: 20px;
}
.btn-group{
    margin-left: 260px;
}
.userr{
    margin-left: 100px;
    span{
        margin-right: 30px;
    }
}
.dropdown-menu{
    text-align: center;
    width: 250px;
    height: 160px;
}
.dropdown-menu button {
    margin: 10px;
}
.form-group input{
    width: 400px;
}
.modal-header img {
    margin-left: 160px;
}
.con{
    padding: 10px;
    text-align: center;
}

