.cont{
    height: 200px;
    padding: 25px;
    h2 {
        color: white;
    }
    .row{
        margin: 80px 0px 0px 0px;
        width: 700px;
        h4{
            color: white;
            margin-right: 420px;
        }
    }
}
.test{
    margin: -100px 20px 0px 0px;
    float: right;
    width: 400px;
    height: 500px;
    padding: 50px 20px 50px 20px;
}
.contt{
    min-height: 700px;
}
.cart{
    width: 750px;
    margin: 40px 0px 0px 20px;
}
.no-gutters{
    max-height: 200px;
}
