<div class="vertical-nav bg-light" id="sidebar">
    <p class="text-dark font-weight-bold text-uppercase px-3  pb-4 mb-0">Categories</p>
    <ul class="nav flex-column bg-light mb-0">
        <li class="nav-item">
            <a (click)="change('typea')" class="nav-link text-dark  ">
                Agriculture et Argane
            </a>
        </li>
        <li class="nav-item">
            <a (click)="change('typeb')" class="nav-link text-dark ">
                Plantes aromatiques et médicinale
            </a>
        </li>
        <li class="nav-item">
            <a (click)="change('typec')" class="nav-link text-dark ">
                Artisanat
            </a>
        </li>
        <!--<li class="nav-item">
            <a (click)="tes4()" class="nav-link text-dark ">
                Aide et Prise en charge
            </a>
            <ul *ngIf="te4" class="nav flex-column bg-light mb-0">
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark  ">
                        Test1
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark ">
                        Test2
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark ">
                        Test3
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark ">
                        Test4
                    </a>
                </li>
            </ul>
        </li>-->
    </ul>
</div>